<div class="hero-image-block">
    <h1><%= block.title %></h1>
    <%= block.introduction %>
    <img src="<%= block.image.url() %>" alt="<%= block.image.alt %>" title="<%= block.image.alt %>" />
</div>