<h1><%= block.title %></h1>

<% block.featured_services.each do |service| %>
    <img src="<%= service.image.url() %>" alt="<%= service.image.alt %>" title="<%= service.image.title %>" />
    <h2><%= service.name %></h2>
    <%= service.description %>
<% end %>